[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
#columns {
  list-style-type: none;
}
.column {
  width: 162px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}
.column header {
  height: 50px;
  width: 200px;
  color: black;
  background-color: #CC9999;
  padding: 3px;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  border: 2px solid #166;
}
/*.column.dragElem {
  opacity: 0.4;
}*/
.column.over {
  border-top: 2px solid blue;
}
.position{
  padding-left: 200px;
    float:left;

}
.position_2{
  padding-right: 200px;
    float:right;
}